[Unit]
Description=WiggleCameraLight service
After=network.target

[Service]
ExecStart=%h/WiggleBin/packages/venv/bin/python3.11 %h/WiggleBin/packages/venv/lib/python3.11/site-packages/wiggle_camera/main.py --light
Environment="PATH=%h/WiggleBin/packages/venv/bin"

[Install]
WantedBy=default.target