[Unit]
Description=WiggleApi service
After=network.target

[Service]
ExecStart=%h/WiggleBin/packages/venv/bin/python3.11 %h/WiggleBin/packages/venv/lib/python3.11/site-packages/wiggle_api/main.py
Environment="PATH=%h/WiggleBin/packages/venv/bin"

[Install]
WantedBy=default.target