[Unit]
Description=WiggleCamera service
After=network.target

[Service]
ExecStart=%h/WiggleBin/packages/venv/bin/python %h/WiggleBin/packages/venv/lib/python/site-packages/wiggle_camera/main.py --recording
Environment="PATH=%h/WiggleBin/packages/venv/bin"
Restart=always

[Install]
WantedBy=default.target